:root {
    --gap: 1em;
    --squarything: 4em;
}

body {
    background:#CCC;
    font-size:24px;
}

.navbar-container {
    border:1px solid #555;
    background: #333;
    width:150px;
    margin: 5em auto;
}

.navbar {
    padding: var(--gap) 0;
    width:3em;
    border-radius:0 1em 1em 0;
    position:relative;
    display:flex;
    gap: var(--gap);
    flex-direction:column;
    justify-content:flex-end;
    background: rgba(255,255,255, .5);
    overflow:hidden;
}

.item {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:4;
}

.item:before {
    z-index:-1;
    position:absolute;
    content: ' ';
    background: rgba(219,112,147, .8);
    height: var(--squarything);
    width: var(--squarything);
    position:absolute;
    transform: translateX(calc(var(--squarything) / 2.5)) rotate(135deg) ;
    border-radius:.5em;
    display:none;
}

.item:hover:before,
.item.active:before {
    display:initial;
}

